/*Seletor universal
*{
    border: 1px solid red;
}

Seletor de texto: h1{}, h2{} e etc.
h1{
    color: green;
}


Seletor de classe
.verde{
    color:green;
}
p.verde{
    color:green;
}

Seletor de ID
#cabecalho{
    border: 1px solid blue;
}

Seletor de filho
li>a{
    color: red;
    text-decoration: none;
}

Seletor descendente
div a{
    color:rgb(228, 35, 228);
}

Seletor adjacente
h1+p{
    color: green
}*/

/*Seletor irmão geral*/
h1~p{
    color:plum
}